QUESTION 1.1  Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [1]:
## write a function that works similar to reduce() operator inbuilt in python

## create the function which will operate as the arg to perform the desired output

def adder(a, b):                   ## create a function to be the argument inside the reduce function
    return a + b                   ## which could be an adder or a multiplier  
def multiplier(c, d):
    return c * d                   ## this will multiply all the elements within

def myreduceop1(func1, seq1): 
    result = seq1[0]               ## the first index is assigned as a which will be 'start'
    for i in seq1[1:]:             ## iterate the rest of the element from the given dataset and extract into variable 'i'
        result = func1(result, i)  ## this step basically any function (adder or multiplier) will iterate each element
                                   ## from (start, stop)
    return result

In [2]:
myreduceop1(adder, [1,2,3])

6

In [3]:
myreduceop1(multiplier, [1,2,3,4])

24

QUESTION 1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [4]:
## METHOD 1

def is_even(num):
    if num % 2 == 0:  ## In this program just like filter function operator we will create a function that will filter only
        return True   ## Even numbers from a given list
    else:
        return False
    
def is_odd(num1):     ## This function will only "filter" ODD numbers from a given list
    if num1 % 2 != 0:
        return True
    else:
        return False
    
def myfilterop(func2, seq2): ## This part is where the Filter function will iterate all the elements from the data set
    result = []              ## A variable where all the data will be iterated and then appended in the assigned variable
    for i in seq2:
        if func2(i):
            result.append(i) ## all the dataset from the list will be iterated and then this value will be returned
                             ## when called by using the function 'myfilterop'            
    return result            ## This variable is then returned when the 'myfilterop' is used

In [5]:
myfilterop(is_even, [1,2,3,4,5,6,7,8,9,10,11,12,13,14])

[2, 4, 6, 8, 10, 12, 14]

In [6]:
myfilterop(is_odd, [1,2,3,4,5,6,7,8,9,10,11,12,13,14])

[1, 3, 5, 7, 9, 11, 13]

In [43]:
## Another filter function METHOD 2

def even_only(num_even):
    if num_even%2==0:       ## Condition is been laid that only numbers divided by 2 with no remainder will be sorted as 'even'
        return num_even
    
def myfilterop2(even_only, seq):
    result=[]
    for i in seq:
        if i%2==0:        ## Same condition should be laid or all the numbers will be printed which are iterated, that is 'even'
            result.append(i)
    return result

def odd_only(odd_num):        ## Condition is been laid that only numbers divided by 2 with no remainder will be sorted as 'odd'
    if odd_num%2 !=0:
        return odd_only         ## This condition is laid or else we hit an error stating 'IT' has not been 'DEFINED'

def myfilterop3(odd_only, seq2):
    result2 = []
    for i in seq2:
        if i%2 != 0:           ## Same condition should be laid or all the numbers will be printed which are iterated
            result2.append(i)
    return result2

In [44]:
myfilterop2(even_only, [1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [45]:
myfilterop3(odd_only, [1,2,3,4,5,6,7,8,9,10])

[1, 3, 5, 7, 9]

Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

Question 2: Produce the following outputs using list comprehensions

Q 2.1: ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [7]:
##first use naive method

lst_for_output = ['x', 'y', 'z']
new_lst_for_output = []
for item in lst_for_output: ## ITERATE ALL THE DATASET FROM THE LIST
    for num in range(1,5): ## 2ND FOR LOOP IS WHERE ALL THE ELEMENTS ARE ITERATED IN 'lst_for_output' ONE BY ONE
        new_lst_for_output.append(item*num) ## EACH FOR LOOP WILL THEN MULTIPLY THE FIRST INDEX AND THEN MOVE TO THE NEXT
print(new_lst_for_output)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [8]:
## USE LIST COMPREHENSION

lst_for_output1 = ['x', 'y', 'z']
new_lst_for_output1 = [item*num for item in lst_for_output1 for num in range(1,5)]
print(new_lst_for_output1)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

Q 2.2 ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [9]:
## WE USE THE NAIVE METHOD
lst_another = ['x', 'y', 'z']
new_another = []              ## OPPOSITE FROM THE FIRST, WHERE ALL THE ELEMENTS ARE ITERATED ONE BY ONE AND THEN MOVES TO
                              ## THE NEXT RANGE. EACH RANGE WHEN GETS HIGHER WILL MULTIPLY ALL THE DATA FROM THE LIST
for item in range(1, 5):     ## THAT IS EACH OF THE ELEMENTS IN THE 2ND FOR LOOP IS ITERATED ONE BY ONE WITH '1' IN RANGE
    for num in lst_another:  ## AFTER WHICH THE CYCLE IS REPEATED WITH EACH ELEMENTS FROM THE 2ND LOOP GOING ONE BY ONE
        new_another.append(item*num)  ## IN RANGE '2', SIMILARLY IT IS THEN MULTIPLIED WITH RANGE '3', WHICH MEANS * 3....
print(new_another)                   ## AND SO ON

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [10]:
## USE LIST COMPREHENSION
lst_another1 = ['x', 'y', 'z']
new_another1 = [item*num for item in range(1,5) for num in lst_another1]
print(new_another1)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

Q 2.3 [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [12]:
## USE THE NAIVE METHOD
lst_more = [2,3,4] ## cannot use the list as [2,3,4,5,6]
new_more = []
for num in range(0,3):
    for item in lst_more: ## EACH ELEMENT IS ITERATED FROM THE LIST AND THEN IN RANGE 0, ALL THE 3 ELEMENTS ARE PRINTED
        new_more.append([num+item]) ## WHICH ALSO MEANS IN 2,3,4 INDEX 0 HAS 2, INDEX 1 HAS 3 AND INDEX 2 HAS 4.
print(new_more) ## BUT THEN WHEN THE CYCLE REPEATS NUMBER 3 BECOMES INDEX 0 AND THEN INDEX 3 AUTOMATICALLY HAS NUMBER 5 TO 
                ## FILL THE INDEX. SO FROM RANGE 0 IT IS 2,3,4 ALL THE 3 ELEMENTS ARE PRINTED AND RANGED AT 0 TO 3
                ## FOLLOWING WHICH THIS CYCLE WILL REPEAT 3 TIMES IN TOTAL UNTIL EACH TIME EACH DATA IN THE ELEMENT TAKES
               ## RANGE 0 WHICH WILL BE FOLLOWED BY DEFAULT NUMBER ASSIGNING IN AN ASCENDING MANNER.
              ## NUM + ITEM INITIATES NEXT NUMBER WILL BE FOLLOWED AS PER THE CYCLE

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [13]:
## USING LIST COMPREHENSION
lst_more1 = [2,3,4]
new_more1 = [[num+item] for num in range(0,3) for item in lst_more1]
print(new_more1)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [46]:
## USING THE SAME METHOD WITH ONE MORE ELEMENT AND REPEATED 3 TIMES FOR RANGE 0 TO 3 (0, 1, 2)
lst_of_num = [2,3,5,4]
new_lst = []
for num in range(0, 3):
    for item in lst_of_num:
        new_lst.append([num + item])
print (new_lst)

## AS WE CAN SEE THE CYCLE GOES AS [2,3,4,5] THE NEXT WILL BE [3,4,6,5] AND THE 3RD WILL BE [4,5,7,6]..THIS PROGRAM
## FOLLOWS THE CYCLE AND ASSIGNS THE VALUE WHERE WE SWITCHED A HIGHER NUMBER TO A LOWER NUMBER (5 BEFORE 4). THE SAME HAS
## BEEN REPEATED WHERE THE FIRST 2 ELEMENTS ARE PLACED CORRECTLY AND THEN THE HIGHER VALUE IS PLACED BEFORE THE LOWER VALUE.

[[2], [3], [5], [4], [3], [4], [6], [5], [4], [5], [7], [6]]

Q 2.4 [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]

In [14]:
## USE THE NAIVE METHOD
lst_1more = [2,3,4,5]
new_lst1more = []       ## EACH ELEMENT FROM THE LIST IS ITERATED FIRST AS IT IS THE 2ND FOR LOOP
for item in range(0,4): ## THEREFORE EACH DATASET IS ITERATED IN RANGE 0 AND THEN MOVES IN ASCEDING FORM AS AND WHEN IT MOVES
    for num in lst_1more: ## TO RANGE 1, RANGE 2 AND SO ON....WHEN IT GOES TO THE NEXT RANGE THE VALUE AT INDEX 1 IS PLACED AT
        new_lst1more.append(item+num) ## INDEX 0, UNTIL THE 1ST FOR LOOP IS ITERATED FROM 0 TO 3 = 4 TIMES.
print(new_lst1more)

[2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

In [15]:
## A LONG WINDED VERSION <--- 2nd NAIVE METHOD
new_lst1 = []
new_lst2 = []
new_lst3 = []
new_lst4 = []
for num1 in range(2,6):   ## IN THIS METHOD EACH RANGE IS GIVEN AND IF YOU NOTICE THE START OF THE RANGE COINCIDES WITH THE LIST
    new_lst1.append(num1) ## [2,3,4,5] AND AS IT HAS TO PLACE 4 VALUES IN EACH LIST, THE RANGE TOO HAS 4 VALUES FROM
                          ## (START, STOP)
for num2 in range(3,7):
    new_lst2.append(num2)

for num3 in range(4, 8):
    new_lst3.append(num3)

for num4 in range(5, 9):
    new_lst4.append(num4)
    
print([new_lst1, new_lst2, new_lst3, new_lst4])

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [16]:
## USE THE LIST COMPREHENSION
lst_1more1 = [2,3,4,5]
new_lst1more1 =[[item+num for item in range(0,4)] for num in lst_1more1]
print(new_lst1more1)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

Q 2.5 [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [17]:
## USE NAIVE METHOD

lst_smemore = [1,2,3] ## SIMILAR TO PREVIOUS PROBLEMS EACH OF THE INNER FOR LOOP WILL BE ITERATED FIRST 
new_smemore = []        ## WHEN EACH ELEMENT IS PRINTED ONE BY ONE IN RANGE 1, THAT IS WHEN ONE CYCLE IS FINSIHED IN OUTER LOOP 
for num in range(1,4): 
    for item in lst_smemore: ## EACH ELEMENT FROM INNER LOOP IS PRINTED WITH RANGE 1 AND THEN AGAIN IN RANGE 2 AND SO ON
        new_smemore.append((item,num)) ## UNTIL ALL THE RANGE IN OUTER LOOP IS EXHAUSTED IT WILL KEEP ITERATING.
print([new_smemore])

[[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]]

In [18]:
## USE LIST COMPREHENSION

lst_smemore1 = [1,2,3]
new_smemore1 = [(item, num) for num in range(1,4) for item in lst_smemore1]
print(new_smemore1)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]