Question 1.

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. 

A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [51]:
def is_symmetrical_1():
    try:
        inp_order = list(input("Enter a random number "))
        if inp_order.isd
        inp_order = ''.join(inp_order)
    except Exception as err:
        print("Invalid only integers ", err) 
    else:
        print(inp_order)
    
    reverse_order = reversed(inp_order)
    reverse_order = ''.join(reverse_order)
    
    if reverse_order == inp_order:
        return True
    return False

In [52]:
is_symmetrical_1()

Enter a random number 7227
7227

True

In [53]:
is_symmetrical_1()

Enter a random number 12567
12567

False

In [54]:
is_symmetrical_1()

Enter a random number 44444444
44444444

True

In [55]:
is_symmetrical_1()

Enter a random number 9939
9939

False

In [56]:
is_symmetrical_1()

Enter a random number 1112111
1112111

True

In [97]:
def is_symmetrical_2(num):
    rev_num_= 0
    temp_num = num
    while num > 0:
        remainder = num % 10
        rev_num_ = (rev_num_*10) + remainder
        num = num // 10
    print(rev_num_)
    print(temp_num)
    if rev_num_ == temp_num:
        return True
    return False

In [98]:
is_symmetrical_2(7227)

7227
7227

True

In [109]:
def is_symmetrical_3():
    try:
        inp_numbr = input("Enter a digit: ")
        if inp_numbr.isdigit():
            rever_numbr = inp_numbr[::-1]
        else:
            print("Enter in integers ")
    except Exception as err:
        print("Invalid entry ", err)
    else:
        print(rever_numbr)
    if inp_numbr == rever_numbr:
        return True
    return False

In [112]:
is_symmetrical_3()

Enter a digit: 7227
7227

True

In [113]:
is_symmetrical_3()

Enter a digit: 4444444444
4444444444

True

In [114]:
is_symmetrical_3()

Enter a digit: 11112221111
11112221111

True

In [115]:
is_symmetrical_3()

Enter a digit: 9939
9399

False

Question 2.

Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [196]:
def multiply_nums(*args):
    lst = []
    for arg in args:
        split_arg = arg.split(',')
    val_ = [int(i) for i in split_arg]
    print(val_)
    
    multi_ = 1
    for j in val_:
        j *= multi_
        multi_ = j
    return multi_

In [197]:
multiply_nums("2, 3")

[2, 3]

6

In [198]:
multiply_nums("1, 2, 3, 4")

[1, 2, 3, 4]

24

In [200]:
multiply_nums("54, 75, 453, 0")

[54, 75, 453, 0]

0

In [201]:
multiply_nums("10, -2")

[10, -2]

-20

Question 3.

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [269]:
def square_digits(num):
    convrt_int = [int(val) for val in str(num)]
#     print(convrt_int)
    square_int = [i* i for i in convrt_int]
#     print(square_int)
    
    square_str = [str(j) for j in square_int]
    print(''.join(square_str))

In [270]:
square_digits(9119)

811181

In [271]:
square_digits(2483)

416649

In [272]:
square_digits(3212)

9414

Question 4.

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [273]:
def setify(lst_num):
    remove_duplicate = list(set(lst_num))
    return remove_duplicate

In [274]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [275]:
setify([4, 4, 4, 4])

[4]

In [276]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [278]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [310]:
def rem_duplicates(a_lst):
    b_lst = []
    filter_lst = [b_lst.append(j) for j in reversed(a_lst) if j not in b_lst]
    
    return b_lst

In [311]:
rem_duplicates([3, 3, 3, 2, 1])

[1, 2, 3]

In [313]:
rem_duplicates([4, 4, 4, 4])

[4]

In [314]:
rem_duplicates([5, 7, 8, 9, 10, 15])

[15, 10, 9, 8, 7, 5]

Question 5.

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

* The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

* The mean will always be an integer.

In [345]:
def mean(a_num):
    try:
        str_num = [int(i) for i in str(a_num)]
        total_ = sum(str_num)
        mean = total_/len(str_num)
    except Exception as err:
        print("Not Valid", err)
    except UnboundLocalError:
        print("unbound error")
    else:
        return round(mean)

In [346]:
mean(42)

3

In [347]:
mean(12345)

3

In [348]:
mean(666)

6

In [350]:
mean("Person")

Not Valid invalid literal for int() with base 10: 'P'