# Assignment Number 1

Question 1. 

What are the differences between operators and values in the following?


(a) *

(b) 'hello'

(c) -87.8

(d) -

(e) /

(f) +

(g) 6

(a)  * ....expression known as `multiply`

In [27]:
## Answer

## The '*' operator has the multiplication characteristics that is used to multiply 2 operands

print("Answer for 2 * 3 = ", 2 * 3)   ## Where we know that 2 multiplied by 3 will give an answer of 6.


print("Answer for 1 * 3 = ", 1 * 3 )  ## And 1 multiplied by any number is that number.



""" Let us test if it follows the multiplication rules """

## Positive * Negative = Negative

print ("Answer for 2 * -3 = ", 2 * -3)


## Negative * Negative = Positive

print("Answer for -2 * -3 = ", -2 * -3)



""" Let us test if follows the same rules when more than 2 operand are multiplied together """

print ("Answer for 2 * 3 * 3 = ", 2 * 3 * 3)

print ("Answer for 2 * 3 * -3 = ", 2 * 3 * -3)  ## positive * positive = positive operand ---> positive operand * negative = negative


u = 2 * 2

Answer for 2 * 3 =  6
Answer for 1 * 3 =  3
Answer for 2 * -3 =  -6
Answer for -2 * -3 =  6
Answer for 2 * 3 * 3 =  18
Answer for 2 * 3 * -3 =  -18

(b) 'hello'....expression known as `string`

This is a `string` and is an EXPRESSION. It is an character that can include numbers, letters and even characters.

String is a sequence which includes more than one unicode character at a time, it means the conversion of character into a number, which a machine is able to comprehend.

In [31]:
## The 'hello' is a string value

st = 'hello'

print(st)

hello

In [32]:
type(st)

str

In [22]:

## or if we use

s = ''
s

''

In [23]:
type(s)

str

Mainly we use Double quotes to signify `STRING` values.

(c)  -87.8  ...value known as float

In [29]:
## The Thrid element is a FLOAT Value

flt = -87.8
flt

-87.8

In [30]:
type(flt)

float

A `Float` value is represents real numbers, however it has both integers and fractional numbers as well. The same is represented by a decimal.

Float numbers can be used to provide precision in an integer, that carries further values than a Whole Number.

In [39]:
## Let us try to convert an Integer into a Float number
cnvrt_float = float(1)

cnvrt_float

1.0

As you can notice it converted `1` to `1.0`

In [40]:
## Let us try converting a String into Float

str_val = "fobo"

cnvrt_float1 = float(str_val)

ValueError: could not convert string to float: 'fobo'

As we can notice float and integers can be converted but a string cannot be as `string` is a Unicode unlike `int` and `float` which has real numbers.

(d)  `-` an expression known as `minus`

In [43]:
## The element `-` is a expression called as minus

## When we have to subtract 2 operands from each other

print("Answer for 5 - 3 = ", 5 - 3)  ## Subtract 3 from 5


## Let us find if it produces negative numbers as output

print("Answer for 5 - 10 = ", 5 - 10)

Answer for 5 - 3 =  2
Answer for 5 - 10 =  -5

(e) / ...expression kwown as division

In [44]:
## Let us take a simple division that produces an whole number ouput

print("Answer when 25 / 5 = ", 25 / 5)

Answer when 25 / 5 =  5.0

As we notice from the above output there is a decimal place, which suggests output of division by default gives a `float` type value

In [45]:
## Let us take another example

divide = 30 / 5

divide

6.0

In [46]:
type(divide)

float

In [48]:
## Let us take another example of any 2 random numbers and divide the same to affirm the floating output value

print("Answer for 128 / 7 = ", 128 / 7)

Answer for 128 / 7 =  18.285714285714285

(f) `+` ...expression known as addition

In [49]:
## The expression is used to add 2 or more operands

print("Answer for 5 + 5 = ", 5 + 5)

Answer for 5 + 5 =  10

In [50]:
## Let us try adding and subtracting at the same time

print("Answer for 10 + 5 - 20 = ", 10 + 5 - 20)

Answer for 10 + 5 - 20 =  -5

 We can presume that outputs from expression `adding` and `subtracting` gives us `int` values

In [51]:
add_val = 6 + 6

add_val

12

In [52]:
type(add_val)

int

(g) `6` ...value known as an integer... or in short `int`

In [57]:
numbr = 6
numbr

6

In [58]:
type(numbr)

int

In [53]:
int_value = 10

int_value

10

In [54]:
type(int_value)

int

Integers are type of values that represents Whole numbers without any decimals. It can be both negative or positive.

In [55]:
int_value2 = -20

int_value2

-20

In [56]:
type(int_value2)

int

Question 2. 

What is the difference between string and variable?

Let us use a common word to explain the above question

In [59]:
## Name a variable called data

data = 23

data

23

In [60]:
type(data)

int

The variable name `data` carries a value of 23, which is what a variable does.

A variable is able to assign any value and when called can display the same value.

In [62]:
## Let us take another example that carries different types of values with a variable

data1 = "full stack"

data2 = 55.55

print(data1)

print(data2)

full stack
55.55

In [63]:
type(data1)

str

In [64]:
type(data2)

float

As we can see from above... a variable tends to carry any type of data value `int` a `string` or a `float`

|

The difference between a string with a variable is

A variable should be a name or a `word` it cannot be a number (whole or decimal)

In [67]:
22 = 45.5

SyntaxError: cannot assign to literal (<ipython-input-67-a575523fb549>, line 1)

In [68]:
22 = 47.5

SyntaxError: cannot assign to literal (<ipython-input-68-06e18be628de>, line 1)

As we can see the a `variable` can never be represented by a number....However

In [70]:
var = "22"
var

'22'

In [71]:
type(var)

str

As we can see from above a number can also be a `string` value, as it is denoted by quotes

 * Therefore a difference is that `VARIABLE` can have any data type of value assigned to it
 
 * The String value is a `data Type` which carries a unicode

Question 3. 

Describe three different data types.

The 3 types of data types are 

|

1) Integer

2) String

3) Float

In [72]:
## Integer

int_val = 22

int_val

22

In [73]:
type(int_val)

int

In [74]:
int_negval = -33

int_negval

-33

In [75]:
type(int_negval)

int

Integer is a Data Type, that carries values in type of Whole Number. Number that are recognizable between 0 - 9. Integer Data Type can convert String Values with Base between >= 2 and <= 36.

In [76]:
## String

str_val = "data"

str_val

'data'

In [77]:
type(str_val)

str

In [78]:
str_num = "22"

str_num

'22'

In [79]:
type(str_num)

str

String is a Data Type, that carries any type of value when used inside a quote. The characters are Unicode and can contain Characters and Alphanumeric variables. Numbers can only be used when used inside quotes.

In [80]:
## Float

flt_val = 22.33

flt_val

22.33

In [81]:
type(flt_val)

float

In [82]:
flt_negval = -33.22

flt_negval

-33.22

In [83]:
type(flt_negval)

float

Float is a Data Type, that has numbers which carries decimals. The whole number and fraction. Numbers can be both Negative and Positive.

Question 4. 

What is an expression made up of? What do all expressions do?

Expressions basically represent a certain value that are used in operands that signify or portray a value of it.

Expressions are made up of a combination of variables, operators and has the tendency to evaluate in order to display the desired output, through these combinations.

Expressions can contain 

(a) Identifiers such as class, functions, variables and even objects.

(b) Literals or Data Types such as Integers, Floating-point numbers, String Values, complex numbers etc.

(c) Operators such as  addition  `+`, Subtraction `-`, Multiplication `*`,  Division  `/`,  More than `>` or More than and equal to `>=`, Power of `**`,
Remainder `%` and so on...

What expression does is use these Identifiers, Data types and Operators and use them in combination to bring out a result that an interpreter/program can display.

These expression work in tandem with statements in giving instructions and returning a value.

Question 5. 

What is the difference between an expression and a statement?

Answer: An expression is when any kind of variable, number, values operators and even function (that can be called) is "EXPRESSED" in a way that displays a result desired by the compiler.

Expression can form various meanings, For example:

1) If we ask the program to `print` a statement, the program/interpreter evaluates the "expression" as `print` and then displays the result.

In [84]:
print("This is an expression")

This is an expression

As we can notice from the output the compiler wanted to display a message "This is an expression" and thus expressed it throught the `print expression`.

There are other forms of expression that involves use of operators, variables...let us see one of the examples.

In [85]:
y = 3.14

x = "world"

print(y)

print(len(x))

3.14
5

From the above examples we notice the "Expression" `print` was able to display the value of `y` and not `y` itself. Basically this is known as evaluation of an expression, which is why the expression is mainly on the right hand side of an assignment statement (which is on the left side). A value all by itself is a simple expression expressed by the variable `y` and   `x`

* Statement

A statement on the other hand are a set of instructions that a Python program/interpreter can follow. It does not have its own value to be returned, therefore it just executes the command.

In [86]:
## Let us see with an example
y = 3.14
    
x = "hello"

print(y)

print(len(x))

3.14
5

The variables `y` and `x` are known as Assignment STATEMENTS, where values were assigned to it. The values returned were for y and the 'LENGTH' of the string value of x...and NOT the x or y itself. 

Statements do not have their own value, they correspond to the commands given to them by the compiler.

The difference between Expressions and Statements are as follows:

Expressions

1) Always returns a value

2) Expressions allows the interpreter to give the desired result through operators, variables and even functions....functions tend to return value as well. Any operator or variable can be manipulated to give out such results.

3) As seen in examples variables and operators can be evaluated to get an output.

4) Example --->   print (("Hello") + ("World"))  = 'HelloWorld'       OR   a = 4 + 5    print(a) = 9... So as we can see the operator `+` and variable are used as expressions to get results.

5) They are mainly placed on the Right-Hand Side.



|

Statements

1) Unable to produce its own value, as it does not have a value of its own.

2) Statements are dependents on commands, and are nested with 'EXPRESSIONS', which means statements do not ACT on their own.

3) There cannot be any Evaluation in statements, as they do not have their own value.

4) Examples ---> print statement, if statement (a condition that allows results if it "satisfies" the conditions laid by the compiler)

5) They are mainly placed on Left-Hand Side.

Question 6. 

After running the following code, what does the variable bacon contain?

Bacon = 22

Bacon + 1

In [87]:
## Let us take a practical approach

Bacon = 22

Bacon + 1

23

As we can see the variable `Bacon` was assigned a value, an integer value of 22. 

Moreover using an operator of `+` allows it to add another integer value of 1, giving it a new value of `23`.|

Question 7. What should the values of the following two terms be?


1) 'spam' + 'spamspam'


2) 'spam' * 3

In [88]:
## Create a string value 

'spam' + 'spamspam'

'spamspamspam'

In [90]:
## Use the same string value and use operator *

'spam' * 3

'spamspamspam'

Question 8. Why is eggs a valid variable name while 100 is invalid?

In [92]:
## Let us test the same with an example by assigning a value

eggs = 12

eggs

12

In [93]:
## Replace the variable with number '100' 

100 = 12

100

SyntaxError: cannot assign to literal (<ipython-input-93-0c7360105dfa>, line 3)

In [94]:
print(100)

100

Now with the above example we can denote that a variable CANNOT START with a Number.

* Reason

A variable will occupy a space in a computer's memory that is able to 'Hold a Value' rather than having a number as a variable which is an `INTEGER DATATYPE`, which itself is a value.

A number are usually stored in the form of an `INTEGER`, `FLOATING NUMBER` or `Complex Numbers`.

Whereas Variables are used to store any values that are placed on the RIGHT HAND SIDE.

In [100]:
## An example is we can store any DATA Types as long as the variable does not begin with a number

eggs = 'eggs'

eggs1 = 'eggs1'

eggs100 = 100

print(eggs)

print(eggs1)

print(eggs100)

eggs
eggs1
100

As we can see we cannot have numbers but we can have AlphaNumeric variables ---> eggs100

And we should always start a variable name either with a word, Alphanumeric or an underscore `_`

In [101]:
type(eggs)

str

In [102]:
type(eggs1)

str

In [103]:
type(eggs100)

int

In [113]:
_ = 12

_

12

Question 9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

The 3 functions to get integer, float-point number and string of a value is:

1) `int()`

2) `float()`

3) `str()`

In [121]:
## Let us take an example for int()

fobo = 10

str_val = '190'

cnvrt_ = int(str_val) + fobo

cnvrt_

200

In [122]:
type(str_val)

str

In [123]:
type(fobo)

int

In [124]:
type(cnvrt_)

int

A `string` data type was converted into a integer by `int()`

In [143]:
binary_str = "111"

decimal = int(binary_str, 2)

print("Base 2 equivalent of string value 111 is : ", decimal)

Base 2 equivalent of string value 111 is :  7

In [139]:
## Let us understand what base is in int()

decimal = int(binary_str, 40)

ValueError: int() base must be >= 2 and <= 36, or 0

As from the error we can understand that Base Value should be more than equal to 2 and less than or equal to 36...

Base 2 has 0 and 1 as in binary 

Base 10 has numerics from 0 - 9 = 10

Base 36 has 26 Alphabets = 26


Which means the function `int()` can convert any `string` data type from base 2 to 36.

In [141]:
type(binary_str)

str

In [140]:
type(decimal)

int

As we can see we use `int()` function to convert the value and get an output in terms of an `Integer Data Type`.

However, `int()` cannot convert non-string values explicit base.

The example below was for an `int` and the same would go for an `float-type`

In [145]:
binary_str2 = 100

decimal = int(binary_str2, 2)

print(decimal)

TypeError: int() can't convert non-string with explicit base

In [169]:
## Let us test if we can convert words into string

abc = "string_value"

convrt_abc = int(abc)

ValueError: invalid literal for int() with base 10: 'string_value'

Unlike Numbers between 0 - 9 if they are string values which can be converted into `int` values, we cannot convert words which are string and int() function does not recognize numbers/characters outside 0 - 9.

In [173]:
xyz = "300"

convrt_xyz = int(xyz)

print(type(xyz))

<class 'str'>

In [171]:
convrt_xyz

300

In [172]:
type(convrt_xyz)

int

In [135]:
## Example for float()

print(float(4))

print(float("23.66"))

print(float("data"))  ## String values cannot be converted into FLOAT through the float() function.

4.0
23.66

ValueError: could not convert string to float: 'data'

In [137]:
## However let us see which String values can be converted into float

print(float("InF"))

print(float("Nan"))

inf
nan

In [146]:
## Let us take an example for str()

num = 100

num

100

In [147]:
s = str(num)

print(s)

100

In [148]:
type(s)

str

In [150]:
## Let us take a float- type number and convert into a string using str()

num2 = 99.99

num2

99.99

In [151]:
s2 = str(num2)

print(s2)

99.99

In [152]:
type(s2)

str

As we notice we can convert both `int` type and `float` type dataset into string using the `str()` function.

Question 10. 

Why does this expression cause an error? How can you fix it?

`'I have eaten ' + 99 + ' burritos.'`

In [153]:
## Let us test it through

'I have eaten' + 99 + 'Burriots'

TypeError: can only concatenate str (not "int") to str

The TypeError suggests that concatenation between Integer and String datasets are not allowed.

Therefore either we have all dataset into `int` or into `str`.

As we have seen from above exercises, String Values CANNOT be converted into Integers....therefore  convert `int` into  `str` by creating a variable.

In [167]:
## Convert the integer to str by creating a variable

## Convert the int variable into a str

num1 = 99

num2 = str(num1)

num2

print('I have eaten ' + num2 + ' Burritos')



    
## Create a string variable


burr_str = '99'

print('I have eaten ' + burr_str + ' Burritos')

I have eaten 99 Burritos
I have eaten 99 Burritos

In [156]:
type(num2)

str

In [168]:
type(burr_str)

str

In [163]:
## Use str() directly onto the number instead of creating a variable.

'I have eaten ' + str(99) + ' Burritos'

'I have eaten 99 Burritos'

In [165]:
## Or we can quote the number directly and then print

'I have eaten ' + '99' + ' Burritos'

'I have eaten 99 Burritos'