Question 1.

Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. 

The function should then return the updated
list.

Examples

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [4]:
def next_in_line(include_num):
    
    a_lst = []
    try:
        while True:
            inp_integers = int(input("Enter an integer: "))
            if inp_integers == "stop":
                break
            a_lst.append(inp_integers)        
    except Exception as err:
        print ("Invalid entry. Only Integers ")  
    else:
        return a_lst
    new_a_lst = a_lst[1 : len(a_lst)]
    new_a_lst.append(include_num)
    
    return new_a_lst

In [5]:
next_in_line(1)

Enter an integer: 5
Enter an integer: 6
Enter an integer: 7
Enter an integer: 8
Enter an integer: 9
Enter an integer: stop
Invalid entry. Only Integers

[6, 7, 8, 9, 1]

In [6]:
next_in_line(10)

Enter an integer: 7
Enter an integer: 6
Enter an integer: 3
Enter an integer: 23
Enter an integer: 17
Enter an integer: stop
Invalid entry. Only Integers

[6, 3, 23, 17, 10]

Question 2.

Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

Examples

get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700


get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

In [53]:
def get_budgets(dict_in_list):
    lst_of_budget = [budget["budget"] for budget in dict_in_list]
    return(sum(lst_of_budget))

In [54]:
get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ])

65700

In [55]:
get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ])

62600

Question 3.

Create a function that takes a string and returns a string with its letters in alphabetical order.

Examples

alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;

alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;

alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;

alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;

alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [62]:
def alphabet_soup(enter_word):
    try:
        sort_word = sorted(enter_word)
    except Exception as err:
        print("Only String values. ")
    else:
        return "".join(sort_word)

alphabet_soup(input("Enter a string value: "))

Enter a string value: javascript

'aacijprstv'

In [63]:
alphabet_soup(input("Enter a string value: "))

Enter a string value: hacker

'acehkr'

In [64]:
alphabet_soup(input("Enter a string value: "))

Enter a string value: edabit

'abdeit'

Question 4.

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.

What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. 

The function returns the value at the end of term
rounded to the nearest cent.

For the example above:

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. 

Compounding can also be done annually, quarterly, weekly, or
daily.


Examples

compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

A = P(1 + r/n) ^ nt

In [71]:
def compound_interest_1():
    
    principal_amount = int(input("Enter the invested amount: "))
    
    rate_ = int(input("Enter the Percentage of returns: "))
    
    rate_of_returns = rate_/100
    
    
    period_of_compound = int(input("Enter the period: "))
    
    no_of_years = int(input("Number of years of investment: "))
    
    
    
    compounding_return = rate_of_returns/period_of_compound

    compounding_interest = period_of_compound * no_of_years
    
    formula = principal_amount * ((1 + compounding_return) ** compounding_interest)
    
    return round(formula, 2)

In [81]:
compound_interest_1()

Enter the invested amount: 100000
Enter the Percentage of returns: 15
Enter the period: 365
Number of years of investment: 20

2007316.26

A = P(1 + r/n) ^ nt

In [107]:
def earn_interest(p,t):
    
    n = input("Enter daily, weekly, monthly, quarter or yearly:\n  ")
    if n == "daily":
        n = 365
    elif n == "weekly":
        n = 52
    elif n == "monthly":
        n = 12
    elif n == "quarter":
        n = 4
    elif n == "yearly":
        n = 1
        
    rate = int(input("Percentage of interest: "))
    
    r = rate/100
        
    annualized_ret = p * ((1 + r/n) ** (n*t))
    return round(annualized_ret, 2)
#     (100000, 20, 0.15, 365)

In [108]:
earn_interest(100000, 20)

Enter daily, weekly, monthly, quarter or yearly:
  daily
Percentage of interest: 15

2007316.26

In [109]:
earn_interest(3500, 15)

Enter daily, weekly, monthly, quarter or yearly:
  quarter
Percentage of interest: 10

15399.26

Question 5.

Write a function that takes a list of elements and returns only the integers.

Examples

return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]

return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]

return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]

return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]

In [65]:
def return_only_integer(a_lst):
    
    only_integers = [val for val in a_lst if type(val) == int]
    return only_integers

return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [66]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [67]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [68]:
return_only_integer(["String", True, 3.3, 1])

[1]