Question 1. 

What exactly is [ ]?

The Square Brackets `[ ]` whenever used in python is to store data in the LIST form.

List is a type of container where each element is seperated by a `,` comma and is within a square bracket `[ ]`

In [146]:
list_a = [2,3,4,5]
list_a

[2, 3, 4, 5]

In [147]:
type(list_a)

list

Question 2. 

In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2,4,6,8,10]

spam

[2, 4, 6, 8, 10]

In [2]:
## 3rd value of spam is

spam [2]

6

Replace the value of the 3rd value that is Index Number 2, which has value of 6 with "Hello"

Can be done through assigning values `=`

In [3]:
spam[2] = "Hello"

[2, 4, 'Hello', 8, 10]

New Value is

In [4]:
print (spam)

[2, 4, 'Hello', 8, 10]

Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.



Question 3. 

What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [55]:
spam = ["a", "b", "c", "d"]

spam

['a', 'b', 'c', 'd']

In [87]:
print("The value of spam[int(int('3' * 2) / 11)] is: ", spam[int(int('3' * 2) / 11)])

The value of spam[int(int('3' * 2) / 11)] is:  d

The Breakdown of the above exercise

Step 1 

We first understand the calculation. 

A String value when multiplied with an int, prints the repeated number of times the same string value as the number of int...

In other words, `str * int(n)`

'hello' * 2 = 'hellohello'...

Therefore for '3' * 2 = '33'

|

|

Step 2

Converting the '33' which is a string value into an int data type.

int('33')

Gives you an integer 33

|

|

Step 3 Calculation of the index number from the list

Divide the integer 33 / 11 = 3.0, which is a float number (we could use // instead for the floor number)

|

|

Step 4  Conversion of float number for identifying the Index number

[int(3)]  Getting the index number by converting the element into an `int`


|

|

Step 5  Taking the index number to find the element from the list

spam[int(3)]   which is similar to spam [3]

In [82]:
## Step 1 calculation
a = '3' * 2
a

'33'

In [83]:
## Step 2 Conversion

a = int('33')
a

33

In [84]:
## Step 3 Calculation of Index Number

a = 33/11
a

3.0

In [85]:
## Step 4 convert float to an int data type

int_a = int(a)
int_a

3

In [86]:
## Step 5   Get the element from the index 3 off the list 'spam'

spam[int(3)]

'd'

Question 4. 

What is the value of spam[-1]?

In [88]:
spam[-1]

'd'

`spam[0]` is the first index and `spam[-1]` is the last index in a list.

Question 5.

What is the value of spam[:2]?

In [89]:
spam[:2]

['a', 'b']

The slicing operation where [:n] will display all the elements before and till `n` 

In the above case index [0] and index [1] which are `[`2`]` elements.

Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

Question 6. 

What is the value of bacon.index(&#39;cat&#39;)?

In [90]:
bacon = [3.14, "cat",11, "cat", True]
bacon

[3.14, 'cat', 11, 'cat', True]

In [91]:
bacon.index("cat")

1

"cat" is the index in number 1 and index number 3...however by default only the very first occurence is displayed as the index number.

Question 7.

How does bacon.append(99) change the look of the list value in bacon?

In [97]:
bacon = [3.14, "cat",11, "cat", True]
bacon

[3.14, 'cat', 11, 'cat', True]

In [98]:
bacon.append(99)

In [99]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Question 8.

How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [120]:
bacon = [3.14, "cat",11, "cat", True]
bacon

[3.14, 'cat', 11, 'cat', True]

In [121]:
bacon.remove("cat")

In [122]:
bacon

[3.14, 11, 'cat', True]

Question 9. 

What are the list concatenation and list replication operators?

The List Concatenation is denoted in the form of `+` where it would "add" 2 Lists with elements together..

In other words it would create another list which will have all the elements from both the list in the ordered form.

The concatenation takes place regardless of the type of Data as we see in the examples below.

In [124]:
a = [1,2,3]
b = [4,5,6]

print (a + b)

[1, 2, 3, 4, 5, 6]

In [125]:
c = [7,8,"hello"]

print (a + c)

[1, 2, 3, 7, 8, 'hello']

In [126]:
d = [5.63, 4 + 3j]

print (b + d)

[4, 5, 6, 5.63, (4+3j)]

The List Replication is denoted in `*` sign where it replicates the data by the amount to times (n).

`[list] * 3` == listlistlist

The List elements can be replicated in order as many times it is multiplied with an integer.

In [129]:
a1 = [1, 2, 3]

print (a1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [133]:
b1 = ["hello", 5,6, 7+8j, 8.99]


print (b1 * 3)

['hello', 5, 6, (7+8j), 8.99, 'hello', 5, 6, (7+8j), 8.99, 'hello', 5, 6, (7+8j), 8.99]

Question 10. 

What is difference between the list methods append() and insert()?

The function .append() allows addition into an existing list of any kind of elements, to include another element or elements. This inclusion is basically done at the end of the list. In other words, it takes up the last index of the list.

In [1]:
lst_a = [1,2,3,4]

lst_a.append("hello")

print (lst_a)

[1, 2, 3, 4, 'hello']

The function .insert() allows additon into an existing list. However, the inclusion can be done on any index of the compiler's choice.

In [4]:
lst_b = [5,6,7,8]

lst_b

[5, 6, 7, 8]

In [5]:
## The index number [1] has the element '6' in it

lst_b[1]

6

In [6]:
## Insert string value in that index..."world"

lst_b.insert(1, "world")

print (lst_b)

[5, 'world', 6, 7, 8]

The difference between the two is `.append()` by default chooses the last index to include the element inside the list

`.insert()` allows the compiler to choose the index number to include the element inside the list.

Question 11. 

What are the two methods for removing items from a list?

The 2 methods of removing elements from the list are using function

(1) .remove() Function

(2) Using `del` in-built function

(3) Using .pop() function

In [16]:
## Using .remove() function

a_list = [1,2,3,4, "hello", "jello", 56.56]

a_list.remove(2)

In [17]:
print (a_list)

[1, 3, 4, 'hello', 'jello', 56.56]

The int element '2' from index [1] has been removed

In [30]:
## Using del function

a_list2 = [1,2,3,4, "hello", "jello", 56.56]

del a_list2[4]

In [31]:
print (a_list2)

[1, 2, 3, 4, 'jello', 56.56]

Writing the index number inside the square brackets `[ ]` takes out the element in that index.

In [32]:
## Using .pop() function

a_list3 = [1,2,3,4, "hello", "jello", 56.56]

a_list3.pop(5)

'jello'

In [33]:
print (a_list3)

[1, 2, 3, 4, 'hello', 56.56]

This function shows us which element has been "popped out" from the list and then re-printing the list displays all the elements except for the popped item.

Question 12.

Describe how list values and string values are identical.

List values and String Values are similar to each other on the following points:

(1) The data collection in both `Lists` and `Strings` are ordered, that means the way the data input is done, is the same way the data woill be collected in String and List collectibles.

In [58]:
alphabets_ASCII = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'


lists_alphabets = list(alphabets_ASCII)

set_alphabets = set (alphabets_ASCII)



print (alphabets_ASCII)

print ("\n",lists_alphabets)

print ("\n",set_alphabets)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

 {'s', 'l', 'r', 'm', 'P', 'G', 'h', 'y', 'W', 'g', 'S', 'a', 'B', 'O', 'v', 'q', 'L', 'F', 'E', 'p', 'z', 'A', 'o', 'Q', 'M', 'U', 'k', 'w', 'T', 'I', 'D', 'u', 'Z', 'V', 'x', 'd', 'R', 'b', 'C', 'e', 'K', 'Y', 'J', 'j', 'H', 'N', 'c', 'n', 'i', 'f', 't', 'X'}

As we can see from the above example both `Lists` and `Strings` are ordered, unlike for `Sets` which are unordered.

(2) Both Lists and String can be iterated; however `int` values cannot be iterated.

In [106]:
subject = "Ineuron has Good Data Science Courses."

lists_subject = list(subject)
## Iterate over a string value

for i in subject:
    print (i, end = "")

Ineuron has Good Data Science Courses.

In [107]:
for j in range(len(lists_subject)):
    print (lists_subject[j], end = "")

Ineuron has Good Data Science Courses.

In [108]:
type(i)

str

In [109]:
type (lists_subject)

list

Question 13. 

What&#39;s the difference between tuples and lists?

The main difference between `Lists` and `Tuples` are 

Lists are mutable containers

Tuples are immutable.

In [111]:
list_a = [1,2,3,4, "World", "is happy"]

tuples_a = (4,5,6,7, "New", "Year is now ")

print (list_a)

print (tuples_a)

[1, 2, 3, 4, 'World', 'is happy']
(4, 5, 6, 7, 'New', 'Year is now ')

In [112]:
## Change the elements inside a list, in Index number 2.

list_a [2]

3

In [113]:
list_a [2] = "has changed"

In [114]:
print (list_a)

[1, 2, 'has changed', 4, 'World', 'is happy']

In [116]:
## Change an element inside the tuple, for Index numbers '2'.

tuples_a [2]

6

In [117]:
tuples_a [2] = "Not changed"

TypeError: 'tuple' object does not support item assignment

In [118]:
print (tuples_a)

(4, 5, 6, 7, 'New', 'Year is now ')

Conclusion: As we can see Tuples are immutable collection and Lists are mutable.

Other differences are

(1) Iterations are time-consuming in Lists

Iterations in Tuples are less time-consuming

|

(2) Lists are able to function on in-built operations such as `.insert()` and `.delete()`.

Tuples on the other hand does not handle such operations.

|

(3) Lists have several in-built functions and therefore also paves for more space inside the system memory.

Tuples on the other hand uses little System Memory space and does not handle functions.

Question 14.

How do you type a tuple value that only contains the integer 42?

The notation for a `Tuple Value` is denoted as a `,` after the input

In [127]:
tuples_42 = (42,)

typles_str = ("hello",)

In [125]:
tuples_42

(42,)

In [126]:
type(tuples_42)

tuple

In [128]:
type(typles_str)

tuple

In [129]:
## if we type in just the element 42 it will be an 'int'

tup = (42)
tup

42

In [130]:
type(tup)

int

Question 15.

How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

* We can convert the List value into tuples by using the in-built function `tuple()` which will convert the collectible into tuple form.

In [131]:
lst_b = [1,2,3,4, "hello", "New year"]
lst_b

[1, 2, 3, 4, 'hello', 'New year']

In [132]:
type(lst_b)

list

In [133]:
tuples_lst_b = tuple(lst_b)

tuples_lst_b

(1, 2, 3, 4, 'hello', 'New year')

In [134]:
type(tuples_lst_b)

tuple

* We can convert tuples value into list by using the in-built function `list()`

In [135]:
tuples_b = (2,3,4,5,"hello", "new decade")

tuples_b

(2, 3, 4, 5, 'hello', 'new decade')

In [136]:
type(tuples_b)

tuple

In [137]:
lst_tuples_b = list(tuples_b)

lst_tuples_b

[2, 3, 4, 5, 'hello', 'new decade']

In [139]:
type(lst_tuples_b)

list

Question 16. 

Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

The values inside the list if not `Lists` then the elements itself are references of `Lists Values` itself.

Question 17. 

How do you distinguish between copy.copy() and copy.deepcopy()?

Both `copy.copy()` and `copy.deepcopy()` are functions that replicates the original elements of the list; however they are also known as shallow copy and deep copy respectively.

* The reason being `copy.copy()` is known to be shallow as its characteristics involves it creating a "new" collection of objects with references from the original list. The main character however; is any changes made in either of the list (original or copies) will display the same changes in the other list. This is because "Shallow Copy" allows the same references of objects to be shared among both the lists.

In other words, any elements as an input in the list are references, which are automatically shared in both lists and is replicated in the copy list; therefore any 'changes' made in the Copy List will portray the same in the original list. The reason being the references are the essence of the elements and both the lists have the same references/essence.

In [143]:
## We first import the library 'copy'

import copy

original_list = [[1,2,3,4], [5,6,7,8],[9, 10, 11, "hello"]]

shallow_list = copy.copy(original_list)


## We are trying to chane the input from "hello" to "this changed"..therefore pinpointing the index which is index '2' list with index '3' elements
shallow_list [2][3] = "this changed"

print ("The original list is ", original_list)

print ("\nThe Shallow Copy of the List is ", shallow_list)

The original list is  [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 'this changed']]

The Shallow Copy of the List is  [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 'this changed']]

As we can see the changes made in the shallow copy portrays the same changes in the Original List and vice versa.

The `copy.deepcopy()` on the other hand creates and entirely different reference from the original list. That is even though the elements are copied from the original list, none of them share the same reference. In other words, they are collection of objects with a different reference than from its original list.

The main characteristic is that any changes made in the `deep copy` will not be displayed on the original list as it does not have the same references on the objects/elements inside the list.

In [145]:
org_list =  [[1,2,3,4], [5,6,7,8],[9, 10, 11, "hello"]]

deep_list = copy.deepcopy(org_list)

deep_list [2] [3] = "This has only Changed here. "

print ("The Original List is ", org_list)

print ("\nThe Deep Copy list is ", deep_list)

The Original List is  [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 'hello']]

The Deep Copy list is  [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 'This has only Changed here. ']]